<!-- Head -->
{% include head.html %}
    
  <!-- Body -->
    <body>

      <div class="container">
        <!--Navigation -->
        <div class="masthead">
          <img src="http://www.feg-stuttgart.de/bilder/logo.gif">
          <br><br>
          <ul class="nav nav-justified">
            <li><a href="/">Startseite</a></li>
            <li><a href="/Portrait/">Portrait</a></li>
            <li><a href="/Schulleben/">Schulleben</a></li>
            <li><a href="/Ehemalige/">Ehemalige</a></li>
            <li><a href="/Galerie/">Galerie</a></li>
            <li><a href="/SMV/">SMV</a></li>
            <li class="active"><a href="#">Kontakt/Impressum</a></li> 
          </ul>
        </div>
      </div>

      <div class="container bs-docs-container">
        <div class="row">
          <div class="col-md-3">
            <div class="bs-sidebar hidden-print" role="complementary">
              <ul class="nav bs-sidenav">
                <!--Unternavigation -->
                {% include sidebar/impressum.html %}
              </ul>
            </div>
          </div>

          <div class="col-md-9" role="main">
            <!-- Inhalt
            ================================================== -->
            <div class="bs-docs-section">
              <br><br>
              {{ content }}
                    
{% include footer.html %}
